body {
  background-color: #661c07;
  color: rgb(255, 208, 0);
}

.movie-poster img {
  width: 100%;
  cursor: pointer;
  border: 8px solid black;
  background-color: black;
}

.row {
  margin-top: 20px;
}

form {
  display: none;
}

#movie-title {
  width: 300px;
}